<template>
  <section class="section">
    <div class="chart-card text-gray-500 rounded shadow-xl m-6 p-4 pr-7">
      <header>
        <div class="flex justify-between items-center text-blue-100">
          <h4 class="text-lg ml-3">
            Rules
          </h4>

          <div class="generic-button" @click="addRule">
            Add rule
          </div>
        </div>
      </header>

      <div v-if="rules.length === 0">
        No rules yo
      </div>

      <div v-else>
        <div v-for="(rule, key) in rules" :key="key" class="my-5">
          <div class="rounded rounded-b-none">
            <div class="accordion-header" @click="rules[key].active = !rules[key].active">
              <h3>
                Rule {{ key + 1 }}
              </h3>
            </div>
          </div>

          <div class="accordion-content" v-if="rules[key].active">
            <select>
              <option :value="rule.option">
                {{ rule.option }}
              </option>
            </select>

            <select>
              <option :value="rule.modifier">
                {{ rule.modifier }}
              </option>
            </select>

            <input type="number" :value="rule.value">

            <select>
              <option :value="rule.action">
                {{ rule.action }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: () => ({
    rules: [],
  }),
  methods: {
    addRule () {
      this.rules.push(
        {
          active: false,
          option: 'Bitcoin price',
          modifier: 'Is greater than',
          value: 30_000,
          action: 'sell',
        }
      )
    },
  },
}
</script>

<style lang="scss">
.accordion-header {
  @apply cursor-pointer flex space-x-5 px-5 items-center h-16 rounded rounded-b-none bg-green-600 text-blue-100
}

.accordion-content {
  @apply p-5 bg-mirage rounded-b text-blue-100 flex
}

.accordion-content select, .accordion-content input {
  flex: 1;

  @apply text-black mx-1
}
</style>
