@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100;200;300;400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

html, body {
  @apply bg-mirage;

  height: 100%;
  font-family: 'Murecho', sans-serif;
}

div#__nuxt,
#__layout,
#__layout > div,
#app,
.main-content {
  min-height: 100%;
}

.app-body {
  padding: 0;
  width: 100% !important;
  max-width: 100% !important;
}

.dashboard-chart {
  canvas {
    height: 300px;
  }
}

.border-r-cinder-dark {
  border-color: rgba(7, 7, 12, 0.2);
  border-width: 0 1px 0 0;
}

.border-b-cinder-dark {
  border-color: rgba(7, 7, 12, 0.2);
  border-width: 0 0 1px 0;
}

.generic-button {
  @apply flex items-center h-8 rounded text-gray-200 bg-mirage cursor-pointer p-4;

  font-size: .9rem;

  &:hover {
    @apply bg-green-600;
  }
}
