<template>
  <div class="chart-card text-gray-500 rounded shadow-xl m-6 p-4 pr-7">
    <header>
      <div class="flex items-center text-blue-100">
        <div class="flex">
          <button
            v-for="(button, key) in dateRangeButtons" :key="key"
            class="tab-button"
            :class="{ active: currentDateRangeMode === button.mode }"
            @click="currentDateRangeMode = button.mode"
          >
            {{ button.label }}
          </button>
        </div>

        <h4 class="text-lg ml-3">
          {{ title }}
        </h4>

        <span class="card-header-title-text">
            {{ subtitle }}
          </span>
      </div>
    </header>

    <footer class="card-footer mt-6">
      <div class="card-footer-item">
        <slot />
      </div>
    </footer>
  </div>
</template>

<script>
import { dateRangeMode, dateRangeLabel } from '@/utils/ChartUtils'

export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
    chartType: {
      type: String,
      required: true,
    },
  },
  data: () => ({
    dateRangeMode,
    dateRangeLabel,
    currentDateRangeMode: dateRangeMode.DAY,
    dateRangeButtons: [
      {
        label: dateRangeLabel.HOUR,
        mode: dateRangeMode.HOUR,
      },
      {
        label: dateRangeLabel.DAY,
        mode: dateRangeMode.DAY,
      },
      {
        label: dateRangeLabel.WEEK,
        mode: dateRangeMode.WEEK,
      },
      {
        label: dateRangeLabel.MONTH,
        mode: dateRangeMode.MONTH,
      },
    ],
  }),
  watch: {
    currentDateRangeMode (newValue) {
      this.$emit('pollForData', newValue, this.chartType)
    },
  },
}
</script>

<style lang="scss">
.chart-card {
  @apply bg-yankees-blue;

  .card-header-title-text {
    font-size: 0.8rem;
    height: 100%;
    text-align: right;
    margin-left: auto;
  }

  .tab-button {
    @apply p-3 block text-blue-100 hover:text-green-600 focus:outline-none;

    font-size: 0.8rem;
  }

  .tab-button.active {
    @apply text-green-500;
  }
}
</style>
