<template>
  <div class="flex">
    <nav class="navbar border-b-cinder-dark">
      <div class="current-price-container">
          <span class="current-price" title="Current Bitcoin price">
            {{ currentPrice | convertNumberToUsd }}
          </span>

        <span class="trend" :class="trend < 0 ? 'text-red-600' : 'text-green-600'">
            <sup title="24 hour trend">{{ trend | convertRatioToPercent }}</sup>
          </span>
      </div>

      <div class="user-settings-button">
        <img class="rounded h-full" src="https://randomuser.me/api/portraits/lego/1.jpg"> <span class="ml-3 mr-2">Max</span>
      </div>
    </nav>

    <aside class="sidebar px-6 border-r-cinder-dark">
      <a href="#" class="inline-flex items-center justify-center w-full sidebar-logo-container">
        <img class="sidebar-logo" :src="require('@/static/images/logo.png')">

        <span class="text-md text-gray-200 font-bold uppercase tracking-wide">
          Coinwatcher
        </span>
      </a>

      <ul class="menu-list mt-5">
        <li
          v-for="(item, key) of navigationLinks"
          :key="key"
          class="sidebar-button-container"
        >
          <NuxtLink :to="item.to" exact-active-class="active">
            {{ item.title }}

            <component :is="item.icon" />
          </NuxtLink>
        </li>
      </ul>
    </aside>

    <section class="main-content">
      <div class="app-body container">
        <Nuxt />
      </div>
    </section>
  </div>
</template>

<script>
import { BIconHouse, BIconClipboardData, BIconAlarm } from 'bootstrap-vue'
import { convertRatioToPercentFilter, dateRangeMode, priceMode } from '@/utils/ChartUtils'

export default {
  components: {
    BIconHouse,
    BIconClipboardData,
    BIconAlarm,
  },
  data: () => ({
    socket: undefined,
    navigationLinks: [
      {
        title: 'Dashboard',
        icon: 'b-icon-house',
        to: '/'
      },
      {
        title: 'Reports',
        icon: 'b-icon-clipboard-data',
        to: '/reports'
      },
      {
        title: 'Rules',
        icon: 'b-icon-alarm',
        to: '/settings/rules'
      },
    ],
    currentPrice: 0,
    trend: 0,
  }),
  methods: {
    async pollForSpotPrice () {
      if (this.timeout !== undefined) {
        clearTimeout(this.timeout)

        this.timeout = undefined
      }

      this.socket.emit('trend', dateRangeMode.WEEK, priceMode.spot, ({ data }) => {
        this.currentPrice = data.latest_price.current_price
        this.trend = data.trend

        this.timeout = setTimeout(() => this.pollForSpotPrice(), 7200)
      })
    },
  },
  async mounted () {
    this.socket = this.$nuxtSocket({ teardown: false, forceNew: false })

    await this.pollForSpotPrice()
  },
  filters: {
    convertRatioToPercent: convertRatioToPercentFilter,
    convertNumberToUsd (value) {
      return '$' + (new Intl.NumberFormat('en-US')).format(+value)
    },
  },
}
</script>

<style lang="scss">
.navbar {
  @apply flex justify-end items-center flex-wrap bg-cinder px-6;

  position: fixed;
  left: 200px;
  height: 50px;
  width: calc(100% - 200px);

  .user-settings-button {
    @apply flex items-center flex-row-reverse h-8 rounded text-gray-200 bg-mirage cursor-pointer;

    &:hover {
      @apply bg-yankees-blue;
    }
  }
}

.sidebar {
  @apply bg-cinder;

  width: 200px;
  position: fixed;
  height: 100%;

  .sidebar-logo-container {
    @apply h-12;

    .sidebar-logo {
      @apply h-8;
    }
  }

  .sidebar-button-container {
    @apply w-full flex items-center h-12 text-gray-200;

    a {
      @apply flex items-center justify-between w-full rounded py-2 px-3;

      &:hover:not(.active) {
        @apply text-gray-300;
      }

      &.active {
        @apply bg-green-600;
      }
    }
  }
}

.current-price-container {
  @apply mr-auto;

  .current-price {
    @apply text-gray-200;

    font-size: 1.2rem;
  }

  .trend {
    font-size: 0.9rem;
  }
}

.main-content {
  margin-left: 200px;
  margin-top: 50px;
  width: calc(100% - 200px);
}
</style>
