<template>
  <section class="section">
    <template v-if="loading === false">
      <chart-card
        title="Bitcoin spot prices"
        :subtitle="priceLineChartData.title"
        chart-type="priceLineChartData"
        @pollForData="pollForData($event, 'priceLineChartData')"
      >
        <div class="dashboard-chart">
          <price-line-chart
            :labels="priceLineChartData.labels"
            :values="priceLineChartData.spotPrices"
          />
        </div>
      </chart-card>

      <chart-card
        title="Bitcoin spot/buy/sell prices"
        :subtitle="priceLineChartData.title"
        chart-type="allPricesLineChartData"
        @pollForData="pollForData($event, 'allPricesLineChartData')"
      >
        <div class="dashboard-chart">
          <all-prices-line-chart
            :labels="allPricesLineChartData.labels"
            :spot-prices="allPricesLineChartData.spotPrices"
            :buy-prices="allPricesLineChartData.buyPrices"
            :sell-prices="allPricesLineChartData.sellPrices"
          />
        </div>
      </chart-card>
    </template>
  </section>
</template>

<script>
import ChartCard from '@/components/ChartCard'
import PriceLineChart from '@/components/charts/PriceLineChart'
import AllPricesLineChart from '@/components/charts/AllPricesLineChart'
import { format, parseISO } from 'date-fns'
import { dateRangeMode } from '@/utils/ChartUtils'

export default {
  name: 'Dashboard',
  components: {
    ChartCard,
    PriceLineChart,
    AllPricesLineChart,
  },
  data: () => ({
    loading: false,
    socket: undefined,
    priceLineChartData: {
      title: '',
      timeout: undefined,
      labels: [],
      spotPrices: [],
    },
    allPricesLineChartData: {
      title: '',
      timeout: undefined,
      labels: [],
      spotPrices: [],
      buyPrices: [],
      sellPrices: [],
    },
  }),
  methods: {
    pollForData (dateRangeMode, chartType) {
      if (chartType === 'priceLineChartData') {
        if (this.priceLineChartData.timeout !== undefined) {
          clearTimeout(this.priceLineChartData.timeout)
        }

        this.priceLineChartData = {
          title: '',
          timeout: undefined,
          labels: [],
          spotPrices: [],
        }

        this.socket.emit('trend', dateRangeMode, 'spot', ({ data }) => {
          this.priceLineChartData.spotPrices = data.historical_prices.map((price) => price.current_price)

          this.priceLineChartData.labels = data.historical_prices.map(
            (price) => format(parseISO(price.polled_at), 'dd/MM/Y h:mm aaa')
          )

          const firstPrice = data.historical_prices[0]
          const lastPrice = data.historical_prices[data.historical_prices.length - 1]

          if (firstPrice === undefined || lastPrice === undefined) {
            this.priceLineChartData.title = ''
          } else {
            const convertIsoStringToDate = this.$options.filters.convertIsoStringToDate

            this.priceLineChartData.title = convertIsoStringToDate(firstPrice.polled_at) + ' - ' + convertIsoStringToDate(lastPrice.polled_at)
          }

          this.priceLineChartData.timeout = setTimeout(() => this.pollForData(dateRangeMode, chartType), 7200)
        })

        return
      }

      if (chartType === 'allPricesLineChartData') {
        if (this.allPricesLineChartData.timeout !== undefined) {
          clearTimeout(this.allPricesLineChartData.timeout)
        }

        this.allPricesLineChartData = {
          title: '',
          timeout: undefined,
          labels: [],
          spotPrices: [],
          buyPrices: [],
          sellPrices: [],
        }

        this.socket.emit('trend', dateRangeMode, 'buy', ({ data }) => {
          this.allPricesLineChartData.buyPrices = data.historical_prices.map((price) => price.current_price)
        })

        this.socket.emit('trend', dateRangeMode, 'sell', ({ data }) => {
          this.allPricesLineChartData.sellPrices = data.historical_prices.map((price) => price.current_price)
        })

        this.socket.emit('trend', dateRangeMode, 'spot', ({ data }) => {
          this.allPricesLineChartData.spotPrices = data.historical_prices.map((price) => price.current_price)

          this.allPricesLineChartData.labels = data.historical_prices.map(
            (price) => format(parseISO(price.polled_at), 'dd/MM/Y h:mm aaa')
          )

          const firstPrice = data.historical_prices[0]
          const lastPrice = data.historical_prices[data.historical_prices.length - 1]

          if (firstPrice === undefined || lastPrice === undefined) {
            this.allPricesLineChartData.title = ''
          } else {
            const convertIsoStringToDate = this.$options.filters.convertIsoStringToDate

            this.allPricesLineChartData.title = convertIsoStringToDate(firstPrice.polled_at) + ' - ' + convertIsoStringToDate(lastPrice.polled_at)
          }

          this.allPricesLineChartData.timeout = setTimeout(() => this.pollForData(dateRangeMode, chartType), 7200)
        })
      }
    },
  },
  async mounted () {
    this.socket = this.$nuxtSocket({ teardown: false, forceNew: false })

    this.pollForData(dateRangeMode.DAY, 'priceLineChartData')
    this.pollForData(dateRangeMode.DAY, 'allPricesLineChartData')
  },
  filters: {
    convertIsoStringToDate: (value) => format(parseISO(value), 'dd/MM/Y h:mm aaa'),
  },
}
</script>
